.headerContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin: 0 0 .5rem 0;
        font-size: 3.2rem;
        text-align: center;
    }

    b {
        color: rgb(2, 235, 235);
    }

    .about {
        width: 90%;
        margin: 1rem 0;
        border-top: 2px solid #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        
        p {
            text-align: center;
            line-height: 1.5;
        }
    }

    .aboutList {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-left: 0;

        li:not(:last-child) {
            margin-bottom: .6rem;
        }

        li {
            list-style: none;
            border-bottom: #1f1f1f solid 2px;
            transition: all .2s ease-in-out;
            padding-bottom: .2rem;
            cursor: pointer;

            &:hover {
                border-bottom: rgb(2, 235, 235) solid 2px;
            }
        }
    }
}