.headerContainer {
  width: 100%;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerContainer b {
  color: #02eb8a;
}

.headerContainer .headTextAndImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .headTextAndImg h1 {
  margin: 1rem 0 .5rem 0;
  font-size: 3.2rem;
  text-align: center;
}

.headerContainer .headTextAndImg img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter .2s ease-in-out;
  transition: -webkit-filter .2s ease-in-out;
  transition: filter .2s ease-in-out;
  transition: filter .2s ease-in-out, -webkit-filter .2s ease-in-out;
}

.headerContainer .headTextAndImg img:hover {
  -webkit-filter: grayscale(0%) contrast(130%);
          filter: grayscale(0%) contrast(130%);
}

.headerContainer .about {
  max-width: 90%;
  margin: 1rem 0;
  border-top: 2px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.headerContainer .about:hover {
  border-top: 2px solid #02eb8a;
  border-bottom: 2px solid #02eb8a;
}

.headerContainer .about p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5;
}

.headerContainer .aboutList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin: .7rem 0 0 0;
}

.headerContainer .aboutList li:not(:last-child) {
  margin-bottom: .6rem;
}

.headerContainer .aboutList li {
  list-style: none;
  border-bottom: #1f1f1f solid 2px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding-bottom: .2rem;
  font-weight: bold;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .aboutList li span {
  padding-left: .3rem;
}

.headerContainer .aboutList li:hover {
  border-bottom: #02eb8a solid 2px;
}

.headerContainer .socialContact {
  margin-top: 1.8rem;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 2rem;
  border-top: 2px solid #f2f2f2;
}

.headerContainer .socialContact a {
  color: #f2f2f2;
  font-size: 2.5rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.headerContainer .socialContact a:hover {
  color: #02eb8a;
}

.headerContainer .socialContact a:first-child {
  margin-left: 2rem;
}

.headerContainer .socialContact a:last-child {
  margin-right: 2rem;
}

@media screen and (min-width: 900px) {
  .headerContainer {
    margin-top: 0;
    height: 100vh;
  }
  .headerContainer .headTextAndImg h1 {
    font-size: 5rem;
  }
  .headerContainer .headTextAndImg img {
    width: 180px;
    height: 180px;
  }
  .headerContainer .about {
    max-width: 40%;
  }
  .headerContainer .aboutList {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .headerContainer .aboutList li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 4.5rem;
  }
  .headerContainer .socialContact {
    max-width: 70%;
  }
}
/*# sourceMappingURL=style.module.css.map */